;; {:parties/get-parties
;;  [:auth/logged-in
;;   {:fn :auth/has-role :with-ctx {:roles [:admin]}}
;;   :db/get-parties]

;;  :products/get-products
;;  [:auth/logged-in
;;   {:fn :auth/has-role :with-ctx {:roles [:admin]}}
;;   :db/get-products]}

{:parties/get-parties
 [ubiq.intercepts.auth/logged-in?
  ubiq.intercepts.auth/has-role?
  {:fn ubiq.intercepts.domain/executor :args {:path [:parties :select-all-parties]}}]
 :products/get-products
 [ubiq.intercepts.auth/logged-in?]
 :get-hero
 [ubiq.intercepts.auth/logged-in?]}
