{:enums
 {:episode
  {:description "The episodes of the original Star Wars trilogy."
   :values [:NEWHOPE :EMPIRE :JEDI]}}

 :objects
 {:party
  {:fields {:id {:type Int}
            :name {:type String}
            :address {:type String}}}
  :product
  {:fields {:id {:type Int}
            :name {:type String}}}
  :droid
  {:fields {:primary_functions {:type (list String)}
            :id {:type Int}
            :name {:type String}
            :appears_in {:type (list :episode)}}}

  :human
  {:fields {:id {:type Int}
            :name {:type String}
            :home_planet {:type String}
            :appears_in {:type (list :episode)}}}}

 :queries
 {:parties {:type (list :party)
            :resolve :parties/get-parties}
  :products {:type (list :product)
             :resolve :products/get-products}
  :hero {:type (non-null :human)
         :args {:episode {:type :episode}}
         :resolve :get-hero}}}
