{:graphql-server {:enable-graphiql? true :database #ig/ref :database}
 :database {:spec {:classname "org.sqlite.JDBC"
                   :subprotocol "sqlite"
                   :subname ":memory:"}}}
