<configuration scan="true" scanPeriod="1 seconds" debug="false">
  <!-- The org.gnieh.logback.SystemdJournalAppender will not load on a
       system with out the native bindings available so we conditionaly
       enable it so that it wont crash systems without journald -->
  <if condition='p("kermit.journald").equals("true")'>
    <then>
      <appender name="JOURNAL" class="org.gnieh.logback.SystemdJournalAppender">
        <syslogIdentifier>kermit</syslogIdentifier>
        <logMdc>true</logMdc>
        <logStackTrace>true</logStackTrace>
        <level>DEBUG</level>
      </appender>
    </then>
    <else>
      <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
          <charset>UTF-8</charset>
          <pattern>%date[ISO8601] [%thread] %-5level %logger{36} - %mdc %msg%n</pattern>
        </encoder>
      </appender>
    </else>
  </if>

  <logger name="datomic" level="warn"/>
  <logger name="kermit.bastion.doc-routes" level="debug"/>
  <logger name="kermit.avira.single-signon" level="warn" />

  <property name="environment" value="${PROFILE:-local}" />

  <appender name="ROLLBAR" class="com.tapstream.rollbar.RollbarAppender">
      <apiKey>d5a15b83e7d04fb8b53a23d00d30b1ea</apiKey>
      <environment>${environment}</environment>
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
  </appender>

  <root level="INFO">
    <if condition='p("kermit.journald").equals("true")'>
      <then>
        <appender-ref ref="JOURNAL"/>
      </then>
      <else>
        <appender-ref ref="CONSOLE"/>
      </else>
    </if>
    <if condition='p("environment").contains("local")'>
      <then>
      </then>
      <else>
        <appender-ref ref="ROLLBAR" />
      </else>
    </if>

  </root>
</configuration>
