;; {:parties/get-parties
;;  [:auth/logged-in
;;   {:fn :auth/has-role :with-ctx {:roles [:admin]}}
;;   :db/get-parties]

;;  :products/get-products
;;  [:auth/logged-in
;;   {:fn :auth/has-role :with-ctx {:roles [:admin]}}
;;   :db/get-products]}

{:parties/get-parties
 [auth/logged-in?
  auth/has-role?
  {:fn domain/executor :args {:path [:parties :select-all-parties]}}]
 :products/get-products
 [auth/logged-in?]
 :get-hero
 [auth/logged-in]}
