{:up ["CREATE TABLE parties(id INTEGER PRIMARY KEY AUTOINCREMENT, name VARCHAR(255) NOT NULL, address VARCHAR(255), created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL);"
      "CREATE TABLE challans(id INTEGER PRIMARY KEY AUTOINCREMENT, party_id INT NOT NULL, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL);"
      "CREATE TABLE products(id INTEGER PRIMARY KEY AUTOINCREMENT, name VARCHAR(255), created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL)"
      "CREATE TABLE challan_products(id INTEGER PRIMARY KEY AUTOINCREMENT, challan_id INT NOT NULL, product_id INT NOT NULL, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP NOT NULL)"]
 :down ["DROP TABLE parties;"
        "DROP TABLE challans;"
        "DROP TABLE products;"
        "DROP TABLE challan_products;"]}
